* {
	background-color: orange;
	color: white;
	width: 80%;
	margin: auto;
}

.today-title {
	font-size: 50px;
}

.today-description {
	font-size: 22px;
}

.today {
	margin: 1% 10% 1% 10%;
	box-shadow: 3px 4px #a8a6a1

}

.flex-today {
	display: flex;
	width: 70%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

img {
	width: 40%;
}

.flex-item2 {
	font-size: 70px;
}


