<div class="header" >
	<img class="icon " src="../../assets/home.png" alt="" [routerLink]="'/home'"/>
</div>

<div class="description flex-row">
	<div class="">
		<p>Temperature: {{currentView?.main?.temp - 273.2 | number: 0.00}}°</p>
	</div>
	<div class="">
		<p>Description : {{currentView?.weather[0]?.description}}</p>
	</div>
	<div class="">
		<p>Humidity : {{currentView?.main?.humidity}}</p>
	</div>
	<div class="">
		<p>Pressure : {{currentView?.main?.pressure}}</p>
	</div>
	<div class="">
		<img class="" src="http://openweathermap.org/img/wn/{{currentView?.weather[0]?.icon}}@2x.png" alt=""/>
	</div>
</div>

